 .bb-page-layout__main {
    background-color: aliceblue;
}
.bb-topbar__branding-area{
  display: flex !important;
  align-items: center;
}
.bb-topbar__content-area{
  display: flex !important;
  align-items: center;
}

